{{ ansible_managed | comment }}

############# config ##################

set base_path    {{ l3d_apt_mirror__base_path }}

set mirror_path  $base_path/mirror
set skel_path    $base_path/skel
set var_path     $base_path/var
set cleanscript $var_path/clean.sh
# set defaultarch  <running host architecture>
set postmirror_script $var_path/postmirror.sh
# set run_postmirror 0
set nthreads     20
set _tilde 0

############# end config ##############

# Package Repos
{% for repo in l3d_apt_mirror__repos %}
{{ repo.deb }}
{% endfor %}

# Clean
{% for repo in l3d_apt_mirror__repos %}
{%   if repo.clean is defined %}
clean {{ repo.clean }}
{%   endif %}
{% endfor %}
